/* HEADER */
.headDiv{
    background-color: black;
    margin-bottom: -10px;
    height: 13rem;
}
#buttonForm{
    margin-top: 20px;
}

/*NAVBAR */
.bg-dark {
    background-color: black !important;
    border-top: solid 3px pink;  
    border-bottom: solid 3px #00876e;  
    padding-bottom: 10px;
}

.btnDivers{
    float: right;
    margin-right: 1rem;
}
.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:pink;
    transition: 0.2s;
}
.nav-item:hover::after{
    width:100%;
}
#navbarDropdown{
    margin-right: 25px;
    margin-left: 25px;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:#00876e;
}
.nav-link{
    padding:15px 5px; /* espace entre ls navlink  */
}
.dropdown-item:focus, .dropdown-item:hover{
    background:#00876e;
}
.dropdown-toggle::after{
    color: white;
}

#ulNav{
    list-style: none;
    border-right: solid 3px pink;
}

/* page index */
#carouselExampleIndicators{
    border-bottom: solid 3px #00876e;
}
.w-100 {
	
	height: 35rem;
}
.parallax {
    /* image utilisé */
    background-image: url('../img/shooting-star-3601173_1920.jpg');

    /* hauteur min du parallax */
    min-height: 40rem;

    /* effet de scrolling du parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*je définie une hauteur de mes card-header, pour qu'il garde la même taille peu importe la taille du texte */
.ProductsContainer .card .card-header {
    text-align: center;
    height: 110px;
}
.ProductsContainer .titleCard{
    font-weight: 200;
    font-size: 1.35em;
}
.ProductsContainer .subtitleCard{
    font-style: italic;
    font-weight: 100;
    font-size: 1.2em;
}
/*j'enlève le padding de card-body*/
.ProductsContainer .card-body {
    padding: 0rem; 
    height: 150px;
    padding-left: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    line-height: 0.5rem;
}
.ProductsContainer #content{
    margin-top: 1.75rem;
}
/* le container qui contients les cards */
.ProductsContainer{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

/*footer  */
footer {
    border-top: pink 3px solid;
    padding-top: 30px;
    width: 100%;
    background-color: #111111;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1 !important;
    position: relative;
}
.foot-sect {
    width: 100%;
    margin-top: 0px;
}

.foot-sect-current {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 30px;
    width: 100%;
    white-space: nowrap;
    border-left: double #a9a9a9 4px;
    padding-bottom: 5px;
}

.foot-sect-current > .foot-link {
    color: white;
    border-bottom: solid 1px black;
    display: block;
    padding: 12px;
    font-size: 14px;
}
.foot-sect-current > .foot-link:hover {
    color: blue;
    text-decoration: none;
    border-bottom: none;
}
.foot-link {
    color: #00876e;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 8px;
    border-bottom: pink 1px solid;
    display: block;
    padding: 10px;
    font-size: 14px;
}

.foot-link:hover {
    background-color: #efefef;
    text-decoration: none;
    color: black;
}
.foot-link-current {
    color: #efefef;
    text-decoration: none;
    margin-right: 2px;
    margin-left: 8px;
    border-bottom: #ED2939 1px solid;
    display: block;
    padding: 10px;
    font-size: 14px;
}

.foot-link-current:active {
    color: #efefef;
    text-decoration: none;
}
.foot-subt {
    font-weight: 600;
    color: #efefef;
    margin-left: 3px;
}

/*div socialLinks dans le footer*/
#footer ul.social li{
    padding: 5px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
/*partie sociallist dans le footer */
#social {
    text-align: center;
    margin: auto;
    width: 350px;
    margin-top: 45px;
}


/*Partie espacetroc*/
/*partie menu*/
.menunav{
    background-color: black;
    border-top: pink 3px solid;
    border-bottom: solid 3px #00876e;
    color: white;
}

/* espace entre mes icônes de mon sous-menu dans la page espaceTroc */
.fa-user-tie, .fa-sign-out-alt, .fa-home, .fa-tachometer-alt, .fa-cloudscale{
    margin-right: 8px;
}

/* style de ma page */
#mentionPage{
    background-color: black;
    color: #ffffff;
}
/*style de mes bouton retour*/
.returnButton{
    height: 50px;
    width: 50px;
    background-color: #00876e;
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}

/*style de mes span succès de mes form*/
.succes{
    color: green;
}


