.modal, #profil{
    background-image: url("../img/based-texture-1142094_1920.jpg");
}

.modal-dialog, .profil{
    background-color: rgba(50, 50, 50, 0.5);
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    padding: 0;
    padding: 5rem;
}
.profil{
    height: auto;
    width: 550px;
}
#profilForm{
    color: white;
}
.profilFormH1{
    background-color: #00876e;
}

.modal-header{
    background-color: #00876e;
    text-align: center;
    color: white;
}
#sendButton{
    margin: 0 auto;
    width: 100px;
    padding-top: 10px
}

.error{
    color: red;
}
