/* HEADER */
.headDiv{
    background-color: black;
    margin-bottom: -10px;
    height: 13rem;
}
/*bouton de connexion/deconnexion/espacetroc/espaceAdmin */
#buttonForm{
    margin-top: 0.66666667rem;
}

/*NAVBAR */
.bg-dark {
    background-color: black !important;
    border-top: solid 3px pink;  
    border-bottom: solid 3px #00876e;  
    padding-bottom: 0.33333333rem;
}
.btnDivers{
    float: right;
    margin-right: 1rem;
}
.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:2px;
    background:pink;
    transition: 0.2s;
}
.nav-item:hover::after{
    width:100%;
}
#navbarDropdown{
    margin-right: 0.83333333rem;
    margin-left: 0.83333333rem;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:#00876e;
}
.nav-link{
    padding: 0.5rem 0.16666667rem; /* espace entre ls navlink  */
}
.dropdown-item:focus, .dropdown-item:hover{
    background:#00876e;
}
.dropdown-toggle::after{
    color: white;
}

#ulNav{
    list-style: none;
    border-right: solid 3px pink;
}

/* page index */
#carouselExampleIndicators{
    border-bottom: solid 3px #00876e;
}
.w-100 { /* hauteur du carousel */
    height: 35rem;
}
.parallax {
    /* image utilisé */
    background-image: url('../img/shooting-star-3601173_1920.jpg');

    /* hauteur min du parallax */
    min-height: 40rem;

    /* effet de scrolling du parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2.7rem;
    padding: 2.7rem;
}


/*Partie de mon container goodPractice */
#goodPracticeContainer{
    margin-top: 2.75rem;
    padding-top: 1rem; 
    background-image: url('../img/mothers-day-616363_1920');
    background-size: cover;
    border-radius: 15px;
    /*permet le centrage, contexte sur le parent */ 
    display: flex;
    min-height: 50vh;
}
#goodPracticeContainer .row{
    /* élément enfant qui seras centré automatiquement */
    margin: auto;
}
#goodPracticeContainer .card-body{
    background-color: #212529;
    color: white;
}
#ContainerImgGoodPractice{
    background-color: pink;
    height: 15.625rem;
    width: 15.625rem;
    margin-right: 1.75rem;
    border-radius: 50%;
    /*permet le centrage, contexte sur le parent */ 
    display: flex;
}
#ImgGoodPractice{
    height: 9.375rem;
    width: 9.375rem;
    /* élément enfant qui seras centré automatiquement */
    margin: auto;
}
/* format 1ere image car le format d'origine n'est pas comme les autres img*/
.imgGoodPractice{
    height: 9.375rem;
    width: 9.375rem;
}
.buttonStyle button{
    margin-left: 1.875rem;
}


/*Partie de mes cards produits */
/*je définie une hauteur de mes card-header, pour qu'il garde la même taille peu importe la taille du texte */
.ProductsContainer .card-header {
    text-align: center;
    height: 110px;
}
.ProductsContainer .titleCard{
    font-weight: 200;
    font-size: 1.35em;
}
.ProductsContainer .subtitleCard{
    font-style: italic;
    font-weight: 100;
    font-size: 1.2em;
}
.ProductsContainer .card-body {
    padding: 0rem; 
    height: 150px;
    padding-left: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    line-height: 0.5rem;
}
.ProductsContainer #content{
    margin-top: 1.75rem;
    border-radius: 15px;
}
/* le container qui contients les cards */
.ProductsContainer{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
#iconeEmail{
    margin-right: 0.45rem;
}
.ProductsContainer .card-img-top {
    height: 16.625rem;
    width: 16.625rem;
}
/* Zoom sur les images de produit dans l'espacetroc*/
.imgEspacetroc, .imgEspacetroc img{
    width:3.125rem;
    height:3.125rem;
}
.imgEspacetroc:hover, .imgEspacetroc img:hover{
    height: 9.375rem;
    width: 9.375rem;
}

/* Zoom sur les images de produit dans l'espaceAdmin*/
.imgEspaceAdmin, .imgEspaceAdmin img{
    width: 3.125rem;
    height: 3.125rem;
}
.imgEspaceAdmin:hover, .imgEspaceAdmin img:hover{
    height: 9.375rem;
    width: 9.375rem;
}

/*Partie page produit */
#pageProduitBody {
  background-image: url('../img/shooting-star-3601173_1920.jpg');
  background-size: cover;
   background-attachment: fixed;
    background-position: center;
}
#ContainerImgPseudo{
    background-color: pink;
    height: 15.625rem;
    width: 15.625rem;
    margin-right: 1.75rem;
    border-radius: 50%;
    /*permet le centrage, contexte sur le parent */ 
    display: flex;
}
#ImgPseudo{
    height: 9.375rem;
    width: 9.375rem;
     border-radius: 50%;
    /* élément enfant qui seras centré automatiquement */
    margin: auto;
}



/*footer  */
footer {
    border-top: pink 3px solid;
    padding-top: 1rem;
    width: 100%;
    background-color: #111111;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1 !important;
    position: relative;
}
.foot-sect {
    width: 100%;
    margin-top: 0rem;
}

.foot-link {
    color: #00876e;
    text-decoration: none;
    margin-right: 0.06666667rem;
    margin-left: 0.26666667rem;
    border-bottom: pink 1px solid;
    display: block;
    padding: 0.33333333rem;
    font-size: 14px;
}

.foot-link:hover {
    background-color: #efefef;
    text-decoration: none;
    color: black;
}

.foot-subt {
    font-weight: 600;
    color: #efefef;
    margin-left: 3px;
}

/*div socialLinks dans le footer*/
#footer ul.social li{
    padding: 0.16666667rem 0;
}
#footer ul.social li a i {
    margin-right: 0.16666667rem;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
/*partie socialList dans le footer */
#social {
    text-align: center;
    margin: auto;
    width: 350px;
    margin-top: 1.5rem;
}


/*Partie espacetroc*/
/*partie menu*/
.menunav{
    background-color: black;
    border-top: pink 3px solid;
    border-bottom: solid 3px #00876e;
    color: white;
}

/* espace entre mes icônes de mon sous-menu dans la page espaceTroc */
.fa-user-tie, .fa-sign-out-alt, .fa-home, .fa-tachometer-alt, .fa-cloudscale{
    margin-right: 8px;
}

/* style de ma page */
#mentionPage{
    background-color: black;
    color: #ffffff;
}
/*style de mes bouton retour*/
.returnButton{
    height: 50px;
    width: 50px;
    background-color: #00876e;
    color: white;
    margin-top: 0.16666667rem;
    margin-left: 0.16666667rem;
}

/*style de mes span succès de mes form*/
.succes{
    color: green;
}


